<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdysTech.CredentialManager" version="2.3.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="RestSharp" version="106.11.7" targetFramework="net47" />
  <package id="WebDav.Client" version="2.7.0" targetFramework="net45" />
</packages>